[Unit]
Description=Ready
#Wants=workstation.target

[Service]
StandardOutput=journal+console
PassEnvironment=READY
ExecStart=/bin/bash -c '[ "$READY" == "false" ] || echo SCENARIO_IS_READY'
Restart=on-abort
Type=idle

[Install]
WantedBy=multi-user.target
