[Unit]
Description=TTYd remote access
Wants=workstation.service

[Service]
PassEnvironment=WEB_SHELL
ExecStart=/bin/bash -c '[ "$WEB_SHELL" == "false" ] || /usr/bin/ttyd /usr/sbin/lemurs'
Restart=on-abort

[Install]
WantedBy=multi-user.target
