[Unit]
Description=TTYd remote access

[Service]
PassEnvironment=WEB_SHELL
ExecStart=/bin/bash -c '[ "$WEB_SHELL" == "false" ] || /usr/bin/ttyd login'
Restart=on-abort

[Install]
Wants=workstation.service
WantedBy=multi-user.target
