[Unit]
Description=WORKSTATION

[Service]
PassEnvironment=PASSWORD USERNAME SHELL ENTRYPOINT_PATH ENTRYPOINT_REMOVE ENTRYPOINT_DEBUG SUDO
ExecStart=/usr/local/bin/workstation-init.sh

[Install]
WantedBy=multi-user.target
